<section class="about" id="about">
  <div class="container about-container">
    <div class="about-content-wrapper">
      <p class="section-subtitle-green">Bigiolo a Melazzano</p>
      <h2 class="section-title-green" data-i18n="about.title">Chi siamo</h2>
      <p class="about-text" data-i18n-html="about.text">
        Bigiolo a Melazzano è una casa colonica nel cuore del Chianti, a pochi
        minuti da <span class="bold-words">Greve in Chianti</span>, dove sarete
        accolti da Paolo e Matteo.
        <br />
        Durante il vostro soggiorno potrete vivere la bellezza autentica della
        campagna toscana, tra vigneti e uliveti, in un luogo dove il tempo
        sembra scorrere più lentamente. Gestiamo questa azienda agricola con
        passione, producendo vino e olio d’oliva che avrete il piacere di
        degustare direttamente in loco, per un’esperienza genuina e legata al
        territorio. <br />
        Se cercate una vacanza in Toscana che unisca il calore di un’accoglienza
        familiare alla privacy di una dimora esclusiva, la nostra casa vacanze a
        Greve in Chianti è il rifugio ideale. <br />
        La nostra filosofia è semplice:
        <span class="bold-words"
          >accogliervi non come ospiti, ma come parte di questo luogo,
          offrendovi un soggiorno autentico e indimenticabile!</span
        >
      </p>
    </div>
    <div class="about-image-wrapper">
      <div class="about-img-box img-matteo">
        <img
          class="about-img"
          src="/img/about/Matteo.avif"
          loading="lazy"
          alt="Matteo – host Bigiolo a Melazzano, casa vacanze nel Chianti"
        />
      </div>
      <div class="about-img-box img-paolo">
        <img
          class="about-img"
          src="/img/about/Paolo.avif"
          loading="lazy"
          alt="Paolo – host Bigiolo a Melazzano, Greve in Chianti"
        />
      </div>
    </div>
  </div>
</section>
