<section class="about" id="about">
  <div class="container about-container">
    <div class="about-content-wrapper">
      <div class="section-subtitle-green">Bigiolo a Melazzano</div>
      <div class="section-title-green" data-i18n="about.title">Chi siamo</div>
      <p class="about-text" data-i18n-html="about.text">
        La casa colonica Bigiolo a Melazzano è un ritorno alle origini, nato dal
        desiderio di condividere la bellezza silenziosa delle colline del
        Chianti. Situato nel cuore di una piccola valle, il nostro progetto
        celebra il connubio tra storia rurale e comfort moderno. <br />
        Qui, tra i filari di Sangiovese e gli ulivi argentati, offriamo non solo
        una dimora, ma un'accoglienza fatta di persone. Dalla produzione propria
        di olio e vino alla cura per ogni dettaglio della casa, la nostra
        filosofia è semplice:
        <span class="bold-words"
          >farvi sentire parte di questa terra, anche solo per una
          stagione!</span
        >
      </p>
    </div>
    <div class="about-image-wrapper">
      <img
        class="about-img"
        src="img/Bigiolo-Melazzano_about.avif"
        alt="Villa Bigiolo a Melazzano "
      />
    </div>
  </div>
</section>
