<section class="about" id="about">
  <div class="container about-container">
    <div class="about-content-wrapper">
      <div class="section-subtitle-green">Bigiolo a Melazzano</div>
      <div class="section-title-green">Chi siamo</div>
      <p class="about-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis,
        aliquam autem? Recusandae
        <span class="bold-words">perferendis labore</span> perferendis labore
        tempore, cumque soluta non molestias tempora sunt libero repellendus vel
        distinctio ducimus at, itaque maiores nostrum? Lorem ipsum dolor sit,
        amet consectetur adipisicing elit. Voluptate similique accusamus, odio
        ipsum, repudiandae officia libero quisquam aut repellendus sed cum velit
        deleniti alias sunt aliquam atque facere quis tenetur? Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Quibusdam rerum ullam neque
        quo, distinctio sapiente dolor illo hic aspernatur incidunt maxime
        minima natus exercitationem quae earum erroret perspiciatis.
        <br />
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita
        officia rem incidunt architecto minima, quo voluptas est eius laborum
        adipisci repellat? Consectetur dicta placeat ratione eligendi eius aut
        voluptatibus minima?
      </p>
    </div>
    <div class="about-image-wrapper">
      <img
        class="about-img"
        src="img/Bigiolo-Melazzano_about.avif"
        alt="Villa Bigiolo a Melazzano "
      />
    </div>
  </div>
</section>
