<section class="feedback" id="recensioni">
  <div class="container feedback-container">
    <div class="title-wrapper">
      <div class="section-subtitle-green">Bigiolo a Melazzano</div>
      <div class="section-title-green">Recensioni</div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">
        <svg class="icon">
          <use href="/icons.svg#slider-arrow-1"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="icon">
          <use href="/icons.svg#slider-arrow-2"></use>
        </svg>
      </div>
      <div class="swiper-scrollbar"></div>
      <button class="feedback-modal-btn" type="button" data-feedback-modal-open>
        <span>Lascia recensione</span>
      </button>
    </div>
  </div>
</section>
