<section class="feedback" id="recensioni">
  <div class="container feedback-container">
    <div class="title-wrapper">
      <div class="section-subtitle-green">Bigiolo a Melazzano</div>
      <div class="section-title-green" data-i18n="reviews.title">
        Recensioni
      </div>
    </div>
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">
        <svg class="icon">
          <use href="/icons.svg#icon-chevron-thin-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="icon">
          <use href="/icons.svg#icon-chevron-thin-right"></use>
        </svg>
      </div>
      <div class="swiper-scrollbar"></div>
      <button
        class="feedback-modal-btn"
        type="button"
        data-feedback-modal-open
        data-i18n="reviews.button"
      >
        Lascia recensione
      </button>
    </div>
  </div>
</section>
