<section class="footer">
  <div class="container footer-container">
    <div class="info-wrapper">
      <h3 class="info-title">Bigiolo a Melazzano</h3>
      <p class="info-content">
        Loc. Il Poggio 292, 53040 Celle sul Rigo S.Casciano dei Bagni (Greve in
        Chianti)
      </p>
    </div>
    <div class="info-wrapper">
      <h3 class="info-title">Contatti</h3>
      <p class="info-content">+39 347 533 1903</p>
      <p class="info-content">bigiolo@bigiolo.com</p>
    </div>
    <div class="info-wrapper">
      <h3 class="info-title">Social</h3>
      <p class="info-content"></p>
    </div>
  </div>
</section>
