<section class="footer">
  <div class="container footer-container">
    <div class="info-wrapper">
      <h3 class="info-title">Bigiolo a Melazzano</h3>
      <p class="info-content">
        Loc. Il Poggio 292, 53040 Celle sul Rigo S.Casciano dei Bagni (Greve in
        Chianti)
      </p>
    </div>
    <div class="info-wrapper">
      <h3 class="info-title">Contatti</h3>
      <a href="tel:+393475331903" class="info-content info-phone">
        +39 347 533 1903
      </a>
      <a href="mailto:bigiolo@bigiolo.com" class="info-content info-mail"
        >bigiolo@bigiolo.com</a
      >
    </div>
    <div class="info-wrapper">
      <h3 class="info-title">Social</h3>
      <div class="social-wrapper">
        <a
          class="social-link"
          href="https://www.instagram.com/"
          aria-label="Seguici su Instagram"
          ><svg class="social-svg" width="15" height="15">
            <use href="/icons.svg#icon-instagram"></use></svg
        ></a>
        <a
          class="social-link"
          href="https://www.facebook.com/?locale=it_IT"
          aria-label="Seguici su Facebook"
          ><svg class="social-svg" width="15" height="15">
            <use href="/icons.svg#icon-facebook"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
