<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="logo-header svg">
        <svg class="icon-logo" width="119" height="51">
          <use href="/vite.svg"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#artists">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">CHI SIAMO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#la-casa">LA CASA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">SERVIZI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacts">IL VINO</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="burger-button" data-header-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
