<header class="header" id="header">
  <div class="container header-container">
    <nav class="nav">
      <a
        href="./index.html"
        class="logo-header svg"
        aria-label="Torna alla home page"
      >
        <svg class="icon-logo" width="119" height="51">
          <use href="/icons.svg#icon-full-logo-bigiolo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#hero" data-i18n="nav.home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" data-i18n="nav.about">CHI SIAMO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#la-casa" data-i18n="nav.house">LA CASA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services" data-i18n="nav.services"
            >SERVIZI</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#il-vino" data-i18n="nav.wine">IL VINO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#recensioni" data-i18n="nav.reviews"
            >RECENSIONI</a
          >
        </li>
      </ul>
      <!-- Language switch -->
      <div class="lang-switch">
        <button type="button" data-lang="it" class="lang-btn is-active">
          IT
        </button>
        <span>|</span>
        <button type="button" data-lang="en" class="lang-btn">EN</button>
      </div>
    </nav>

    <button type="button" class="burger-button" data-header-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
