<section class="il-vino" id="il-vino">
  <div class="container vino-container">
    <div class="vino-content-wrapper">
      <div class="section-subtitle">Bigiolo a Melazzano</div>
      <div class="section-title" data-i18n="wine.title">Il Vino</div>
      <p class="vino-text" data-i18n-html="wine.text">
        Le Terre di Melazzano, entro cui è situato il podere Casanova dè Benci,
        sono citate negli annali storici fiorentini dal XIV secolo come terre
        produttrici di olio e vino. A 400 metri d’altitudine nelle coline del
        Chianti, questo antico podere gode di un ottimo microclima e di un
        terreno vigoroso su cui prosperano
        <span class="vino-bold-words">le vigne di Bigiòlo</span>
        costituite, prevalentemente, da uve di Sangiovese.
      </p>
    </div>

    <div class="vino-image-wrapper">
      <img
        class="vino-img"
        src="/img/il-vino/bigiolobottle.webp"
        alt="Il vino Bigiolo"
      />
    </div>
  </div>
</section>
