<section class="la-casa" id="la-casa">
  <div class="container la-casa-container">
    <div class="title-wrapper">
      <div class="section-subtitle">Bigiolo a Melazzano</div>
      <div class="section-title">La Casa</div>
    </div>
    <div class="gallery" id="laCasaGallery">
      <a href="/img/la-casa/bigiolo-melazzano-29.webp">
        <img src="/img/la-casa/bigiolo-melazzano-29.webp" alt="Casa Bigiolo" />
      </a>
      <a href="/img/la-casa/bigiolo-melazzano-30.webp">
        <img src="/img/la-casa/bigiolo-melazzano-30.webp" alt="Casa Bigiolo" />
      </a>
      <a href="/img/la-casa/bigiolo-melazzano-38.webp">
        <img src="/img/la-casa/bigiolo-melazzano-38.webp" alt="Casa Bigiolo" />
      </a>
    </div>
  </div>
</section>
