<section class="la-casa" id="la-casa">
  <div class="container la-casa-container">
    <div class="title-wrapper">
      <div class="section-subtitle">Bigiolo a Melazzano</div>
      <div class="section-title">La Casa</div>
    </div>
    <p class="casa-description">
      La casa Bigiolo risale al periodo medievale ed è stata recentemente
      ristrutturata per garantire il massimo comfort ai nostri ospiti,
      mantenendo intatto il loro carattere autentico. La casa è il luogo ideale
      per una vacanza all’insegna del
      <span class="bold-words-black"
        >relax e del benessere, lontano dallo stress e dalla frenesia della vita
        quotidiana.</span
      >
    </p>

    <div class="swiper la-casa-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_1.avif"
            alt="Casa Bigiolo 1"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_2.avif"
            alt="Casa Bigiolo 2"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_3.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_4.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_5.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_6.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_7.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_8.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_9.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_10.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_11.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_12.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_13.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_14.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_15.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_16.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_17.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_18.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_19.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_20.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_21.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_22.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_23.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_24.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_25.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_26.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_27.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_28.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_29.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/img/la-casa/Bigiolo-Melazzano_31.avif"
            alt="Casa Bigiolo 3"
            class="casa-gallery-img"
          />
        </div>
      </div>

      <div class="swiper-button-prev la-casa-prev">
        <svg class="icon">
          <use href="/icons.svg#icon-chevron-thin-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next la-casa-next">
        <svg class="icon">
          <use href="/icons.svg#icon-chevron-thin-right"></use>
        </svg>
      </div>

      <div class="swiper-pagination la-casa-pagination"></div>
    </div>

    <p class="casa-description">CONTATTACI PER PRENOTARE</p>
    <a
      href="https://www.vrbo.com/it-it/affitto-vacanze/p11453736?dateless=true&flexibility=1_DAY&x_pwa=1&rfrr=HSR&pwa_ts=1767631349352&referrerUrl=aHR0cHM6Ly93d3cudnJiby5jb20vSG90ZWwtU2VhcmNo&useRewards=false&adults=6&regionId=601773&destination=Greve+in+Chianti%2C+Toscana%2C+Italia&destType=MARKET&latLong=43.583065%2C11.318682&searchId=1c6f7755-689c-4c00-8253-58912d35557b&sort=RECOMMENDED&userIntent=&expediaPropertyId=101401634"
      class="casa-send-Btn"
      target="_blank"
      rel="noopener noreferrer"
    >
      Prenota</a
    >
  </div>
</section>
