<div class="modal-overlay" data-menu>
  <div class="container mob-menu-container">
    <div class="mob-menu-wrap">
      <a href="/index.html" class="mob-menu-logo">
        <svg class="mob-menu-logo-icon" width="119" height="51">
          <use href="../public/vite.svg"></use>
        </svg>
      </a>
      <button type="button" class="button mob-menu-close" data-menu-close>
        <svg class="mob-menu-close-icon" width="20" height="20">
          <use href="/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mob-nav">
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#artists">HOME</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#about">CHI SIAMO</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#la-casa">LA CASA</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#services">SERVIZI</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#il-vino">IL VINO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#recensioni">RECENSIONI</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
