<section class="services">
  <div class="container servizi-container">
    <div class="title-wrapper">
      <div class="section-subtitle-green">Bigiolo a Melazzano</div>
      <div class="section-title-green">Servizi</div>
    </div>
    <ul class="services-list">
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="" />
        </svg>
        <h3 class="service-title">Piscina</h3>
        <p class="service-description">Rilassa in piscina tutta tua</p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-wi-fi" />
        </svg>
        <h3 class="service-title">Internet</h3>
        <p class="service-description">
          Connessione Wifi disponibile in tutta la struttura
        </p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-car" />
        </svg>
        <h3 class="service-title">Parcheggio</h3>
        <p class="service-description">
          Parcheggia in tranquillità nel nostro parcheggio privato
        </p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-cord" />
        </svg>
        <h3 class="service-title">Colonnina</h3>
        <p class="service-description">
          Colonnina privata di ricarica per autovettura
        </p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="" />
        </svg>
        <h3 class="service-title">Area condizionata</h3>
        <p class="service-description">Aria condizionata in casa</p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-washingmachine" />
        </svg>
        <h3 class="service-title">Lavatrice</h3>
        <p class="service-description">
          Usa tranquillamente una lavatrice in casa
        </p>
      </li>
    </ul>
  </div>
</section>
