<section class="services" id="services">
  <div class="container servizi-container">
    <div class="title-wrapper">
      <div class="section-subtitle-green">Bigiolo a Melazzano</div>
      <div class="section-title-green" data-i18n="services.title">Servizi</div>
    </div>
    <ul class="services-list">
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-pool" />
        </svg>
        <h2 class="service-title" data-i18n="services.poolTitle">Piscina</h2>
        <p class="service-description" data-i18n="services.poolDescription">
          Rilassa in piscina tutta tua
        </p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-wi-fi" />
        </svg>
        <h2 class="service-title" data-i18n="services.internetTitle">
          Internet
        </h2>
        <p class="service-description" data-i18n="services.internetDescription">
          Connessione Wifi disponibile in tutta la struttura
        </p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-car" />
        </svg>
        <h2 class="service-title" data-i18n="services.parkingTitle">
          Parcheggio
        </h2>
        <p class="service-description" data-i18n="services.parkingDescription">
          Parcheggia in tranquillità nel nostro parcheggio privato
        </p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-cord" />
        </svg>
        <h2 class="service-title" data-i18n="services.chargeTitle">
          Colonnina
        </h2>
        <p class="service-description" data-i18n="services.chargeDescription">
          Colonnina privata di ricarica per autovettura
        </p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-air" />
        </svg>
        <h2 class="service-title" data-i18n="services.airTitle">
          Area condizionata
        </h2>
        <p class="service-description" data-i18n="services.airDescription">
          Aria condizionata in casa
        </p>
      </li>
      <li class="services-item">
        <svg class="servise-svg" width="45" height="45">
          <use href="/icons.svg#icon-washingmachine" />
        </svg>
        <h2 class="service-title" data-i18n="services.washingTitle">
          Lavatrice
        </h2>
        <p class="service-description" data-i18n="services.washingDescription">
          Usa tranquillamente una lavatrice in casa
        </p>
      </li>
    </ul>
  </div>
</section>
