.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-content-wrapper {
}
.section-subtitle {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #4a7b63;
}
.section-title {
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.25em;
  color: #4a7b63;
}
.about-text {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: #666;
}

.bold-words {
  color: #4a7b63;
  font-weight: 800;
}

.about-image-wrapper {
}
.about-img {
  display: block;
  transition: all 0.5s;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .about-container {
    flex-direction: row;
  }

  .about-content-wrapper,
  .about-image-wrapper {
    flex: 1;
  }
}
