.feedback {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feedback-container {
  padding-block: 64px !important;
}

.swiper-wrapper {
  margin-top: 70px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  position: relative;
  line-height: 1;
}

.feedback-stars {
  color: rgb(232, 236, 9);
  font-size: 20px;
}

.feedback_description {
  color: #222;
  font-size: 15px;
  line-height: 1.75em;
  text-align: center;
  margin-block: 32px !important;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 14;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feedback_description.is-open {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}

/* Ефект при наведенні, щоб підказати про клік */
.feedback_description:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.feedback_name {
  font-family: 'Lora', serif;
  font-size: 20px;
  color: #222;
  font-weight: 400;
  line-height: 1.25em;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg,
.swiper-button-prev:focus svg,
.swiper-button-next:focus svg {
  stroke: white !important;
}

.swiper-button-prev:active svg,
.swiper-button-next:active svg {
  stroke: white !important;
}

.swiper-scrollbar {
  margin-bottom: 16px;
}

.feedback-modal-btn:hover {
  filter: brightness(1.2);
  transform: translateY(-1px);
  transition: filter 0.3s, transform 0.2s;
}

.feedback-modal-btn:focus {
  background-color: white;
  outline: auto;
  border-color: #4c9772;
  font-weight: 600;
  color: #4c9772;
  transition: background-color 0.3s ease, box-shadow 0.3s;
}

.feedback-modal-btn {
  line-height: 150%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(6, 3, 7, 0.05),
    inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 1px rgba(6, 3, 7, 0.15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
  background: #4c9772ff;

  .feedback-modal-btn {
    width: 220px;
  }
}

/*================ Styles for Tablet devices ======================*/

@media screen and (min-width: 768px) {
  .feedback_description {
    font-size: 26px;
    max-width: 518px !important;
  }

  :root {
    --swiper-navigation-size: none !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    background-image: none !important;
    border: 1px solid #4c9772 !important;
    border-radius: 8px !important;
    width: 44px !important;
    height: 44px !important;
    margin-top: 0 !important;
    transform: translateY(-50%); /* Центрування по вертикалі */
  }

  .swiper-button-prev .icon,
  .swiper-button-next .icon {
    fill: none !important;
    stroke: white !important;
    stroke-width: 2px;
    width: 24px;
    height: 24px;
    display: block;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: #4c9772 !important;
  }

  .feedback-modal-btn {
    width: 186px;
    padding: 0;
  }
}

/*=========== Styles for Desktop devices ===========*/

@media screen and (min-width: 1440px) {
  .feedback_description {
    font-size: 32px;
    line-height: 130%;
    max-width: 886px;
    -webkit-line-clamp: 14;
  }
  .feedback_name {
    font-size: 24px;
  }
  .swiper-pagination {
    margin-top: 75px;
  }
  .swiper-scrollbar {
    margin-bottom: 80px;
  }
}
