.container_feedback {
  padding-block: 64px !important;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feedback-stars {
  color: #75da94;
  font-size: 20px;
}

.feedback_description {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #222;
  margin-block: 32px !important;
  margin: 0 auto;
}

.feedback_name {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #222;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  background-color: #222 !important;
  opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
  background-color: #222 !important;
  opacity: 1 !important;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg,
.swiper-button-prev:focus svg,
.swiper-button-next:focus svg {
  stroke: #764191 !important;
}

.swiper-button-prev:active svg,
.swiper-button-next:active svg {
  stroke: #988aa0 !important;
}

@media screen and (min-width: 768px) {
  .feedback_description {
    font-size: 26px;
    max-width: 518px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block !important;
  }

  :root {
    --swiper-navigation-size: none !important;
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: 48px !important;
    height: 48px !important;
    fill: white !important;
    stroke: white !important;
    color: transparent !important;
    display: block !important;
  }
}

@media screen and (min-width: 1440px) {
  .feedback_description {
    font-size: 32px;
    line-height: 130%;
    max-width: 886px;
  }

  .swiper-pagination {
    margin-top: 75px;
  }
}
.swiper-scrollbar {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .swiper-scrollbar {
    margin-bottom: 80px;
  }
}
.feedback-modal-btn {
  line-height: 150%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(6, 3, 7, 0.05),
    inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 1px rgba(6, 3, 7, 0.15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
  background: rgb(118, 65, 145);
}
@media screen and (min-width: 768px) {
  .feedback-modal-btn {
    width: 158px;
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .feedback-modal-btn {
    width: 177px;
  }
}
.feedback-modal-btn:hover {
  filter: brightness(1.2);
  transform: translateY(-1px);
  transition: filter 0.3s, transform 0.2s;
}

.feedback-modal-btn:focus {
  background: linear-gradient(135deg, #9e58c4, #763b96);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.15),
    0 0 4px rgba(255, 255, 255, 0.05);
  outline: none;
  transition: background 0.3s ease, box-shadow 0.3s;
}
