.feedback-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.feedback-modal-window {
  padding: 62px 16px;
  position: relative;
  width: 320px;
  min-height: 568px;
  background: white;
  border-radius: 12px;
  box-sizing: border-box;
}

.feedback-modal-title {
  color: #4a7b63;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 38px;
}

.feedback-modal-list {
  margin-bottom: 32px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.feedback-modal-item {
  width: 100%;
  min-height: 78px;
}

.feedback-modal-label {
  color: rgb(102, 102, 102);
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.feedback-modal-input {
  color: #222;
  background: white;
  border: 1px solid #4a7b63;
  border-radius: 12px;
  padding: 8px 12px;
  width: 100%;
  height: 43px;
  outline: none;
}

.feedback-modal-input-tex {
  color: #222;
  background: white;
  border: 1px solid #4a7b63;
  border-radius: 12px;
  height: 130px;
  width: 100%;
  padding: 12px;
  outline: none;
  resize: none;
}

.feedback-modal-input:hover,
.feedback-modal-input:focus,
.feedback-modal-input-tex:hover,
.feedback-modal-input-tex:focus {
  border: 1px solid #294537;
  box-shadow: 0px 1px 2px 0px rgba(6, 3, 7, 0.05),
    inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 1px rgba(6, 3, 7, 0.15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
}

.rating {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.rating button {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc;
  transition: transform 0.2s, color 0.2s;
}

.rating button.active {
  color: rgb(232, 236, 9);
}

.rating button:hover {
  transform: scale(1.2);
}

.feedback-modal-submit {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  width: 100%;
  height: 47px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(6, 3, 7, 0.05),
    inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 1px rgba(6, 3, 7, 0.15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
  background: #4a7b63;
}

.feedback-modal-submit:hover {
  filter: brightness(1.2);
  transform: translateY(-1px);
  transition: filter 0.3s, transform 0.2s;
}

.feedback-modal-submit:focus {
  background-color: white;
  outline: auto;
  border-color: #4c9772;
  font-weight: 600;
  color: #4c9772;
  transition: background-color 0.3s ease, box-shadow 0.3s;
}

.feedback-modal-close {
  position: absolute;
  top: 13.17px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  z-index: 10;
}

.feedback-modal-close-icon {
  display: block;
  width: 18px;
  height: 18px;
  stroke: #294537;
}
.feedback-modal-close-icon:hover,
.feedback-modal-close-icon:focus {
  stroke: #4a7b63;
}

.feedback-modal-close-icon:active {
  stroke: #4a7b63;
}

.is-hidden {
  display: none;
}

/* ===== error ======*/
.input-error {
  border: 1px solid #af0404 !important;
  color: #af0404 !important;
}

.input-error::placeholder {
  color: #af0404;
}

.error-text {
  font-weight: 400;
  font-size: 12px;
  color: #af0404;
  line-height: 150%;
  margin-top: 4px;
}

.feedback-success {
  margin-top: 16px;
  color: #4c9772;
  font-weight: 600;
  text-align: center;
}

/*================ Styles for Tablet devices ======================*/

@media screen and (min-width: 768px) {
  .feedback-modal-window {
    padding: 64px 32px 83px;
    width: 704px;
    min-height: 688px;
  }

  .feedback-modal-title {
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 48px;
  }

  .feedback-modal-list {
    margin-bottom: 24px;
    gap: 24px;
  }

  .feedback-modal-input-tex {
    height: 180px;
  }

  .feedback-modal-close-icon {
    width: 20px;
    height: 20px;
  }

  .feedback-modal-submit {
    width: 340px;
  }
}
/*=========== Styles for Desktop devices ===========*/

@media screen and (min-width: 1440px) {
  .feedback-modal-window {
    padding: 64px;
    width: 864px;
  }

  .feedback-modal-title {
    font-size: 60px;
  }

  .feedback-modal-close-icon {
    width: 24px;
    height: 24px;
  }
}
