.feedback {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feedback-container {
  padding-block: 64px !important;
}

.feedback-swiper .swiper-wrapper {
  margin-top: 70px;
}

.feedback-swiper {
  position: relative;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  position: relative;
  line-height: 1;
}

.feedback-stars {
  color: rgb(232, 236, 9);
  font-size: 20px;
}

.feedback_description {
  color: #222;
  font-size: 15px;
  line-height: 1.75em;
  min-height: calc(1.75em * 5);
  margin-block: 32px !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 25px;
  margin-right: 25px;
}

.feedback_description.is-open {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}

.feedback_description:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 15px;
}

.feedback_name {
  font-family: 'Lora', serif;
  font-size: 20px;
  color: #222;
  font-weight: 400;
  line-height: 1.25em;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  background-color: transparent;
  background-image: none;
  border: none;
  width: 44px !important;
  height: 44px !important;
  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  pointer-events: auto;
}

.swiper-button-prev {
  justify-content: flex-start !important;
}
.swiper-button-next {
  justify-content: flex-end !important;
}

.swiper-button-prev .icon,
.swiper-button-next .icon {
  fill: #4c9772;
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
}

.swiper-button-prev:hover,
.swiper-button-prev:focus,
.swiper-button-next:hover,
.swiper-button-next:focus {
  border-color: #294537;
  transition: all 0.3s ease;
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg,
.swiper-button-prev:focus svg,
.swiper-button-next:focus svg {
  fill: #294537 !important;
  transition: all 0.3s ease;
}

.swiper-button-prev:active svg,
.swiper-button-next:active svg {
  fill: #294537 !important;
  transition: all 0.3s ease;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  background-color: grey !important;
  opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
  background-color: #4c9772 !important;
  opacity: 1 !important;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper-scrollbar {
  margin-bottom: 16px;
}

.feedback-modal-btn {
  line-height: 150%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  width: 100%;
  height: 47px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow:
    0px 1px 2px 0px rgba(6, 3, 7, 0.05),
    inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 1px rgba(6, 3, 7, 0.15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
  background: #4a7b63;

  .feedback-modal-btn {
    width: 220px;
  }
}

.feedback-modal-btn:hover {
  filter: brightness(1.2);
  transform: translateY(-1px);
  transition:
    filter 0.3s,
    transform 0.2s;
}

.feedback-modal-btn:focus {
  background-color: white;
  outline: auto;
  border-color: #4c9772;
  font-weight: 600;
  color: #4c9772;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s;
}

/*================ Styles for Tablet devices ======================*/

@media screen and (min-width: 768px) {
  .feedback_description {
    margin: 0 auto;
    align-items: center;
    font-size: 26px;
    max-width: 518px !important;
  }

  :root {
    --swiper-navigation-size: none !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 44px !important;
    height: 44px !important;
  }

  .swiper-button-prev .icon,
  .swiper-button-next .icon {
    width: 44px;
    height: 44px;
  }

  .swiper-pagination {
    margin-top: 48px;
  }

  .feedback-modal-btn {
    width: 186px;
    padding: 0;
  }
}

/*=========== Styles for Desktop devices ===========*/

@media screen and (min-width: 1440px) {
  .feedback_description {
    font-size: 28px;
    line-height: 1.65em;
    max-width: 886px;
    -webkit-line-clamp: 5;
  }
  .feedback_name {
    font-size: 24px;
  }
  .swiper-pagination {
    margin-top: 75px;
  }
  .swiper-scrollbar {
    margin-bottom: 20px;
  }
}
