.footer {
  width: 100%;
  background-color: #294537;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-title {
  font-family: 'Lora', serif;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.25em;
}
.info-content {
  font-size: 15px;
  line-height: 1.75em;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    gap: 30px;
  }

  .info-wrapper {
    width: calc((100% - 60px) / 3);
  }
}
