.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.6s ease, box-shadow 0.6s ease,
    transform 0.6s ease;
  transform: translateY(0);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 150%;
}

.header-container {
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  display: inline-flex;
  align-items: center;
}

.icon-logo {
  width: 119px;
  height: 51px;
  fill: white;
}

.icon-logo:hover,
.icon-logo:focus {
  fill: #75da94;
}

.nav-list {
  display: none;
}

.nav-link {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  white-space: nowrap;
  color: #ffffff;
  background: transparent;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

.nav-link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 4px;
  background-color: #75da94;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.1s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #75da94;
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
}

.nav-link.current {
  color: #75da94;
}

.nav-link.current::after {
  transform: scaleX(1);
}

.burger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: white;
  width: 48px;
  height: 48px;
  border: none;
  background-color: inherit;
}

.burger-icon {
  stroke: white;
}

.burger-icon:hover,
.burger-icon:focus {
  stroke: #75da94;
}

html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 64px;
}
/* ----------- header's styles on scroll ------------- */
.header--scrolled {
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  transform: translateY(0);
}

.header--scrolled .nav-link {
  color: #222;
}

.header--scrolled .logo-header {
  fill: #222;
}

.header--scrolled .burger-icon {
  stroke: #222;
}

.header--scrolled .icon-logo {
  fill: #222;
}

.header--scrolled .icon-logo:hover,
.header--scrolled .icon-logo:focus {
  fill: #75da94;
}

.header--scrolled .nav-link:hover,
.header--scrolled .nav-link:focus,
.header--scrolled .nav-link.current {
  color: #75da94;
}

.header--scrolled .burger-icon:hover,
.header--scrolled .burger-icon:focus {
  stroke: #75da94;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    height: 88px;
  }

  .nav {
    margin: 0 auto;
    max-width: 640px;
    height: 51px;
  }

  .nav-list {
    display: flex;
    gap: 32px;
  }

  .nav-link {
    padding: 12px 0;
  }

  .burger-button {
    display: none;
  }

  section {
    scroll-margin-top: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
  .nav {
    max-width: 1440px;
  }
}
