.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 150%;
}

.header-container {
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  fill: #ffffff;
  display: inline-flex;
  align-items: center;
}

.logo-header:hover,
.logo-header:focus {
  fill: #75da94;
}

.logo-header:active {
  fill: #75da94;
}

.icon-logo {
  width: 119px;
  height: 51px;
}

.nav-list {
  display: none;
}

.nav-link {
  font-family: 'Josefin Sans', sans-serif;
  white-space: nowrap;
  color: #ffffff;
  background: transparent;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #75da94;
}

.nav-link:active {
  color: #75da94;
}

.burger-button {
  display: flex;
  align-items: center;
  justify-content: center;

  stroke: white;
  width: 48px;
  height: 48px;
  border: none;
  background-color: inherit;
}

.burger-icon {
  stroke: white;
}

.burger-icon:hover,
.burger-icon:focus {
  stroke: #75da94;
}

html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    height: 88px;
  }

  .nav {
    margin: 0 auto;
    max-width: 640px;
    height: 51px;
  }

  .nav-list {
    display: flex;
    gap: 32px;
  }

  .nav-link {
    padding: 12px 0;
  }

  .burger-button {
    display: none;
  }

  section {
    scroll-margin-top: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
  .nav {
    max-width: 1440px;
  }
}
