.la-casa {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #4a7b63;
}

.la-casa-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title-wrapper {
}
.section-subtitle {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}
.section-title {
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.25em;
  color: white;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}
