.la-casa {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #4a7b63;
}

.la-casa-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title-wrapper {
}
.section-subtitle {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}
.section-title {
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.25em;
  color: white;
}

.casa-description {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: white;
}

.bold-words-black {
  color: #294537;
  font-weight: 800;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.gallery img {
  width: 100%;
  height: auto;
  cursor: zoom-in;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-link {
  text-decoration: none;
}

.gallery-hidden {
  display: none;
}

.casa-send-Btn {
  line-height: 150%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  color: #4c9772ff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(6, 3, 7, 0.05),
    inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 1px rgba(6, 3, 7, 0.15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
  background: white;
}
