.la-casa {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #4a7b63;
}

.la-casa-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-subtitle {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}
.section-title {
  font-family: 'Lora', serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.25em;
  color: white;
}

.casa-description {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: white;
}

.bold-words-black {
  color: #294537;
  font-weight: 800;
}

.la-casa-swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.casa-gallery-img {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
  display: block;
}

.la-casa-prev,
.la-casa-next {
  background-color: transparent !important;
  border: none !important;
  transform: translateY(-50%);
}

.la-casa-prev {
  left: 0 !important;
  justify-content: flex-start !important;
}

.la-casa-next {
  right: 0 !important;
  justify-content: flex-end !important;
}

.la-casa-prev .icon,
.la-casa-next .icon {
  fill: white !important;
}

.la-casa-prev:hover,
.la-casa-prev:focus,
.la-casa-next:hover,
.la-casa-next:focus {
  border-color: #294537 !important;
  transition: all 0.3s ease;
}

.la-casa-prev:hover svg,
.la-casa-next:hover svg,
.la-casa-prev:focus svg,
.la-casa-next:focus svg {
  fill: #4a7b63 !important;
  transition: all 0.3s ease;
}

.la-casa-prev:active svg,
.la-casa-next:active svg {
  fill: #294537 !important;
  transition: all 0.3s ease;
}

.la-casa-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px !important;
}

.la-casa-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: white !important;
  opacity: 0.9 !important;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.la-casa-pagination-bullet-active {
  background-color: #75da94 !important;
  opacity: 1 !important;
  transform: scale(1.1);
}

.casa-send-Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 1.5;
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  width: 100%;
  max-width: 100%;
  height: 47px;
  color: #4c9772ff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;

  background: white;
  box-shadow: 0px 1px 2px 0px rgba(6, 3, 7, 0.05),
    inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 1px rgba(6, 3, 7, 0.15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);

  transition: all 0.3s ease;
}

.casa-send-Btn:hover {
  filter: brightness(1.2);
  transform: translateY(-1px);
  transition: filter 0.3s, transform 0.2s;
  color: #294537;
  font-weight: 600;
}

.casa-send-Btn:focus {
  background-color: #4a7b63;
  outline: none;
  border-color: white;
  font-weight: 500;
  color: white;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px #4a7b63;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/*================ Styles for Tablet devices ======================*/

@media screen and (min-width: 768px) {
  .la-casa-pagination {
    margin-top: 15px;
  }

  .la-casa-pagination-bullet {
    background-color: white !important;
    opacity: 0.9 !important;
  }

  .la-casa-pagination-bullet-active {
    background-color: #75da94 !important;
    opacity: 1 !important;
  }

  .casa-send-Btn {
    width: 186px;
    padding: 0;
  }
}

/*=========== Styles for Desktop devices ===========*/

@media screen and (min-width: 1440px) {
  .la-casa-swiper {
    width: 100%;
    margin: 0 auto;
    background-color: #4a7b63;
    overflow: hidden;
    padding-inline: 60px;
  }

  .casa-gallery-img {
    width: 100%;
    height: 800px;
    object-fit: contain;
    display: block;
  }

  .la-casa-prev {
    left: 60px !important;
  }

  .la-casa-next {
    right: 60px !important;
  }

  .casa-send-Btn {
    width: 220px;
  }
}
