.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-container {
  width: 100%;
}

.mob-menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.mob-menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu-logo-icon {
  width: 160px;
  height: 48px;
  fill: rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  transition: all 0.3s ease;
}

.mob-menu-logo-icon:hover,
.mob-menu-logo-icon:focus,
.mob-menu-logo-icon:active {
  fill: #75da94;
  color: #75da94;
}

.mob-menu-close {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu-close-icon {
  stroke: rgb(34, 34, 34);
  transition: all 0.3s ease;
}

.mob-menu-close-icon:hover,
.mob-menu-close-icon:focus {
  stroke: #75da94;
}

.mob-nav {
  margin-top: 80px;
  margin-bottom: auto;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-nav-link {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  white-space: nowrap;
  color: rgb(34, 34, 34);
  background: transparent;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

.mob-nav-link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background-color: #75da94;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.1s ease;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: #75da94;
}

.mob-nav-link:hover::after,
.mob-nav-link:focus::after {
  transform: scaleX(1);
}

.mob-nav-link.current {
  color: #75da94;
}

.mob-nav-link.current::after {
  transform: scaleX(1);
}
