.services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-wrapper {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services-item {
  padding: 30px 20px;
  color: #4a7b63;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  line-height: 1;
  border: 1px solid #f1eeeb;
}

.servise-svg {
  fill: currentColor;
  margin-bottom: 20px;
}
.service-title {
  font-family: 'Lora', serif;
  font-size: 24px;
  color: #222;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 10px;
}

.service-description {
  margin: 0;
  color: #666;
  font-size: 15px;
  line-height: 1.75em;
}

@media screen and (min-width: 768px) {
  .services-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .services-item {
    width: calc((100% - 60px) / 3);
  }
}
